

table, th, td{
  border:1px solid black;
  border-collapse: collapse;
}
@media print {
  #scrollableDiv {
    width: 100% !important;
    height: 100% !important;
    overflow: visible;
  }
  /* @page { size: letter; margin: 0in 0in; width: 816px; height: 1056px; } */
  #line{
    /* width:100vw !important; */
  }

  #table-div{
    /* zoom: 72%; */
  }

  #print-canvas{
    /* margin: auto; */
    height: 138.5vh;
    overflow-x: visible;
    zoom:72%;
    /* width: 80vw; */
  }

  #table-border{
    border: none;
  }
  #display-none{
    display: none;
  }
}

.print-canvas{
  height: 85vh;
}

th,td{
  padding: 4px;
}

.resize-handle {
  width: 8px;
  height: 100%;
  background-color: #ddd;
  position: absolute;
  right: 0;
  top: 0;
  cursor: ew-resize;
}


